#add-movie-btn {
  border: 2px solid var(--clr-light-700);
  background-color: var(--clr-dark-100);
  min-height: 5rem;
}

#add-movie-btn i {
  color: var(--clr-light-700);
  font-size: 2rem;
}

.card {
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
}

.image-wrapper {
  position: relative;
  border-radius: 0.5rem 0.5rem 0 0;
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie-info {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0.5rem 0.75rem;
  background-color: var(--clr-dark-100);
}

.movie-title {
  font-size: 1.5rem;
  width: 100%;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.movie-details {
  display: flex;
  gap: 0.25rem;
  justify-content: space-between;
  align-items: center;
  color: var(--clr-light-700);
}

i {
  font-size: 1.5rem;
}

.movie-icons {
  background: transparent;
  position: absolute;
  inset: 0;
  display: flex;
  gap: 0.25rem;
  transition: all 250ms;
  z-index: 2;
  padding: 0.5rem 0.75rem;
}

.movie-icons::before {
  position: absolute;
  content: "";
  inset: 0;
  bottom: 50%;
  background: linear-gradient(#16182380 2.92%, #16182300 98.99%);
  z-index: -1;
}

.movie-icons i {
  fill: none;
  color: white;
}

.score i {
  color: var(--clr-light-700);
}

.card:hover .movie-icons {
  background: #0005;
}

i.colored-heart {
  color: var(--clr-heart);
}

i.colored-star {
  stroke: none;
  color: var(--clr-star);
}

.icon-btn {
  border: none;
  background: none;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  #movies-container {
    max-width: 72rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    margin-inline: auto;
  }

  .movie-details {
    align-items: flex-start;
    flex-direction: column;
  }
}
